<div class="app-block-main" *ngIf="dailyImage">
  <div class="container">

    <div class="row">
      <div class="col-sm-6">
        <h2>Cam Name</h2>
      </div>
      <div class="col-sm-6">

        <ul class="nav navbar-nav navbar-left">
        <li class="active dropdown" role="presentation">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <h4>Camera Name<span class="icon icon-chevron-small-down"></span></h4>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/gallery/FHAZ">FHAZ</a></li>
            <li><a routerLink="/gallery/RHAZ">RHAZ</a></li>
            <li><a routerLink="/gallery/MAST">MAST</a></li>
            <li><a routerLink="/gallery/CHEMCAM">CHEMCAM</a></li>
            <li><a routerLink="/gallery/MAHLI">MAHLI</a></li>
            <li><a routerLink="/gallery/MARDI">MARDI</a></li>
            <li><a routerLink="/gallery/NAVCAM">NAVCAM</a></li>
            <li><a routerLink="/gallery/PANCAM">PANCAM</a></li>
            <li><a routerLink="/gallery/MINITES">MINITES</a></li>
          </ul>
        </li>
        </ul>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6 col-md-3 app-image-holder">
        <img [src]="dailyImage.img_src">
        <h4>{{ earth_date | date:'longDate'}}</h4>
      </div>

      <div class="col-sm-6 col-md-3 app-image-holder">
        <img [src]="dailyImage.img_src">
        <h4>{{ earth_date | date:'longDate'}}</h4>
      </div>

      <div class="col-sm-6 col-md-3 app-image-holder">
        <img [src]="dailyImage.img_src">
        <h4>{{ earth_date | date:'longDate'}}</h4>
      </div>

      <div class="col-sm-6 col-md-3 app-image-holder">
        <img [src]="dailyImage.img_src">
        <h4>{{ earth_date | date:'longDate'}}</h4>
      </div>

    </div>
  </div>
</div>



<!--
<div class="row">
  <div class="col-sm-5 col-lg-7 ">
    <div class="image-holder">
      <h2>
        {{title}}
      </h2>
      <img [src]="dailyImage.img_src">
      <h4>{{ earth_date | date:'longDate'}}</h4>
    </div>
  </div>
</div>
-->
